---
import { storyblokEditable, renderRichText } from "@storyblok/astro";
import '../styles/dracula-prism.scss';

const { blok } = Astro.props;
const content = renderRichText(blok.content);
---
<main {...storyblokEditable(blok)} id="main-content" tabindex="-1">
    <article class="prose">
        <h1>{blok.title}</h1>
        <p>{blok.description}</p>
        <Fragment set:html={content} />
    </article>
</main>
<script src="../js/prism.js"></script>
<style lang="scss">
    main {
        margin-top: clamp(3rem, -0.2308rem + 9.2308vw, 6rem);
    }
</style>