---
import { SITE_TITLE } from '../config';
import { Icon } from 'astro-icon'

const today = new Date();
---

<footer>
	<div class="container">
		<div class="flow">
			<h2>Let's Chat</h2>
			<p>Need an experienced web developer to help out? <a href="mailto:sammy@smzr.co.uk" title="Email Sammy McKay"><u>Send me an email</u></a> to discuss your project.</p>
			<p>I'm always happy to answer any questions and provide more information about my services.</p>
			<p>→ <a href="mailto:sammy@smzr.co.uk" title="Email Sammy McKay">sammy@smzr.co.uk</a></p>
		</div>
		<div class="footer-bottom">
			<p>{today.getFullYear()} &copy; {SITE_TITLE}</p>
			<nav>
				<a href="https://www.linkedin.com/in/smzr" title="@smzr on LinkedIn"><Icon name="mdi:linkedin" /> LinkedIn</a>
				<a href="https://github.com/smzr" title="@smzr on GitHub"><Icon name="mdi:github" /> GitHub</a>
				<a href="https://codepen.io/smzr" title="@smzr on CodePen"><Icon name="mdi:codepen" /> CodePen</a>
			</nav>
		</div>
	</div>
</footer>
<style lang="scss">
	footer {
		border-top: 1px solid #3E362F;
		padding: 0 2rem;

		.container {
			max-width: 1280px;
			margin: 0 auto;
		}

		.flow {
			padding: 5rem 0;

			h2 {
				font-size: var(--s-huge);
			}

			p {
				font-size: var(--s-md);
			}

			a {
				color: inherit;
			}

			> * {
				display: block;
				max-width: 640px;
			}
		}
	}

	.footer-bottom {
		border-top: 1px solid #3E362F;
		display: flex;
		flex-direction: column-reverse;
		gap: 2rem 0;
		justify-content: space-between;
		align-items: center;
		padding: 2rem 0;
		line-height: 1;
		font-size: var(--s-xs);

		@media (min-width: 768px) {
			flex-direction: row;
		}
	}

	nav {
		display: flex;
		flex-flow: row wrap;
		justify-content: center;
		gap: 1.5rem;

		> a {
			display: flex;
			align-items: center;
			gap: 0.5rem;
			color: inherit;
			transition: all 200ms ease-in;
		}
	}

	[astro-icon] {
		width: 1.5rem;
		height: 1.5rem;
	}
</style>
