---
import HeaderLink from './HeaderLink.astro';
import { Icon } from 'astro-icon';
---

<header class="site-header">
	<Icon name="smzr-logo"/>
	<nav>
		<HeaderLink href="/">Home</HeaderLink>
		<!-- <HeaderLink href="/about">About</HeaderLink>
		<HeaderLink href="/services">Services</HeaderLink> -->
		<HeaderLink href="/writing">Writing</HeaderLink>
		<HeaderLink href="/contact">Contact</HeaderLink>
	</nav>
</header>
<style lang="scss">
	header {
		display: flex;
		justify-content: space-between;
		gap: 1rem;
		align-items: center;
		padding: 1.25rem 2rem;
		background-color: #0B120D;
		line-height: 1;

		> :global(svg) {
			max-height: 2.5rem;
			color: var(--c-primary);
		}
	}

	nav {
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-end;
		gap: var(--gutter);
	}
</style>
