---
---
<section class="projects">
    <div class="container">
        <div class="intro flow">
            <h2>Some of my work</h2>
            <p>I'm a problem solver at heart and love taking on complex and challenging projects. I'm excellent at taking sophisticated ideas and figuring out how to get them built.</p>
        </div>
    </div>
</section>
<style lang="scss">
    .projects {
        padding: 0 2rem;
    }

    .container {
        max-width: 1280px;
        margin: 0 auto;
    }

    .intro {
        text-align: center;
        max-width: 640px;
        margin: 0 auto;

        h2 {
            font-size: var(--s-huge);
        }

        p {
            font-size: var(--s-lg);
        }
    }
</style>